@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

h1, h2{
    color: white;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #000;
}
.container{
    margin: 50px auto 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
.info_container{
    width: 60%;
    .logos{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        #gameMax_logo{
            width: 100%;
            max-width: 300px;
        }
        #airComputers_logo{
            width: 100%;
            max-width: 100px;
          
        }
    }
}

.soon_container{
    margin: 15px auto 15px 29px;
    h1{
        font-size: 25px;
        font-weight: 500;
        line-height: 47.2px;
    }
}

.work_container{
    margin: 0 auto 15px 29px;
    h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }
}

.slogan_container{
    margin: 0 auto 30px 29px;
    p{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #BFBFBF;
        line-height: 33.89px;
    }
}
.form{
    margin: 0 auto 20px 29px;
    p{
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #70BA2B;
    }
    input[type=email]{
        max-width: 520px;
        width: 100%;
        height: 47px;
        border-radius: 10px;
        background-color: #474747;
        color: #000;
        border: none !important;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
    }
    input[type=email]::placeholder{
        color: #000;
    }
    input[type=email]:focus-visible{
        outline: 2px #70BA2B solid;
    }
    button[type=submit]{
        border: none;
        width: 180px;
        height: 47px;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: normal;
        background-color: #70BA2B;
    }
    button[type=submit]:hover{
        color: #62a524;
        background-color: #FFF;
    }
    form{
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        align-items: center;
        flex-direction: row;
    }
}

.img_container{
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        margin: auto;
    }

}