@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

h1, h2{
    color: white;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url(../images/background-gamemax.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 90%;
    display: flex;
    gap: 20px;
}
.info_container{
    .logos{
        display: flex;
        width: 100%;
        gap: 10px;
        #gameMax_logo{
            width: 100%;
        }
        #airComputers_logo{
            width: 100%;          
        }
    }
}

.soon_container{
    h1{
        font-size: 25px;
        font-weight: 500;
        line-height: 47.2px;
    }
}

.work_container{
    h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }
}

.slogan_container{
    p{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #BFBFBF;
        line-height: 33.89px;
    }
}
.form{
    p{
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #70BA2B;
    }
    input[type=email]{
        width: 100%;
        height: 47px;
        border-radius: 10px;
        background-color: #474747;
        color: #000;
        border: none !important;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
    }
    input[type=email]::placeholder{
        color: #000;
    }
    input[type=email]:focus-visible{
        outline: 2px #70BA2B solid;
    }
    button[type=submit]{
        border: none;
        height: 47px;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: normal;
        background-color: #70BA2B;
    }
    button[type=submit]:hover{
        color: #62a524;
        background-color: #FFF;
    }
    form{
        display: flex;
    }
}

.img_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        margin: auto;
    }

}

@media only screen and (min-width: 300px){
    .container{
        flex-direction: column;
        justify-content: center;
        margin: 50px auto 20px auto;
    }
    .info_container{
        width: 100%;
        .logos{
            justify-content: center;
            flex-direction: row;
            align-items: center;
            #gameMax_logo{
                max-width: 210px;
            }
            #airComputers_logo{
                max-width: 80px;
              
            }
        }
    }
    input[type=email]{
        max-width: 97%;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    button[type=submit]{
        width: 100%;
    }
    form{
        justify-content: center;
        gap: 30px;
        align-items: center;
        flex-direction: column;
    }

    .img_container{
        width: 100%;
    }
}

@media only screen and (min-width: 1024px){
    .container{
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        max-width: 1500px;
        
    }

    .info_container{
        width: 60%;
        .logos{
            justify-content: flex-start;
            #gameMax_logo{
                max-width: 300px;
            }
            #airComputers_logo{
                max-width: 100px;
              
            }
        }
    }
    input[type=email]{
        max-width: 520px;
        padding-left: 20px;
        padding-right: 20px;
    }
    button[type=submit]{
        width: 180px;
    }
    form{
        justify-content: flex-start;
        gap: 30px;
        align-items: center;
        flex-direction: row;
        margin: 0 auto 20px 29px;
    }

    .img_container{
        width: 40%;
    }
    .slogan_container{
        margin: 0 auto 30px 29px;
    }
    .work_container{
        margin: 0 auto 15px 29px;
    }
    .soon_container{
        margin: 15px auto 15px 29px;
    }
    .form{
        p{
            margin-left: 29px;
        }
    }
}